<div class='container' style="height:100vh;">
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='col-4 mx-auto d-flex'>
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">To Do App</h5>
          <button class="btn btn-primary mx-auto d-flex mb-5 mt-4">
            <%= link_to 'Sign in now!', user_session_path, :class => "btn", :style=> 'color:#FFFFFF;'%>
          </button>
          <button class="btn btn-success mx-auto d-flex">
            <%= link_to 'Sign up now!', new_user_registration_path, :class => "btn", :style=> 'color:#FFFFFF;'%>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
